@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary & Secondary Colors */

  --primary: #01A1A8;
  --primary-foreground: #ffffff;
  --secondary: #0eced3;
  --secondary-foreground: #000000;

  /* Semantic Colors */
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  /* --border: #e4e4e7; */
  --border: #27272a;
  --input: #e4e4e7;
  --ring: #01A1A8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Gradients */
  --background-image-gradient-primary: linear-gradient(to right, var(--primary), var(--secondary));

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0eced3;
    --primary-foreground: #000000;
    --secondary: #01A1A8;
    --secondary-foreground: #ffffff;

    --card: #0a0a0a;
    --card-foreground: #ededed;
    --popover: #0a0a0a;
    --popover-foreground: #ededed;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    /* --border: #27272a; */
    --border: #e4e4e7;
    --input: #27272a;
    --ring: #0eced3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shop-sense-text {
  background: linear-gradient(to right, #0eced3, #01A1A8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.card-border-shadow {
  border: 1px solid var(--border);
  /* light gray */
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}